{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}: {{ asset.name }}</h1>
    <form method="POST" action="{{ url_for('assets.update_asset', asset_id=asset.id) }}">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name() }}
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
         <div>
            {{ form.serial_number.label }}<br>
            {{ form.serial_number() }}
            {% for error in form.serial_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
         <div>
            {{ form.asset_type.label }}<br>
            {{ form.asset_type() }}
            {% for error in form.asset_type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    {# Updated Cancel link to go to the Assets list #}
    <p><a href="{{ url_for('assets.list_assets') }}">Cancel</a></p>
{% endblock %}
